---
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 120
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
BreakBeforeBraces: Attach
SortIncludes: Never
IncludeBlocks: Preserve
PointerAlignment: Left
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
ReflowComments: false
...
